
.style-c{
  
  background-color: hsl(268, 75%, 9%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px 0;
.container{
  width: 600px;
  height: 100vh;
}

.navbar{
  display: grid;
  grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a a a a a a a a a a a b ";
  color: hsl(0, 0, 100%);
  .apptitle{
    grid-area: a;
    justify-content: flex-start;
    padding-right: 200px;
    font-size: 50px;
  };
  .nav-toggle{
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a b b"
    "c c d d";
    .theme{
      grid-area: c;
    }
    .theme-num{
      grid-area: b;
      font-size: 20px;
      .themeNumber{
        display: inline;
        padding: 0 10px;
      }
    }
    .toggle-radio{
      grid-area: d;
      background-color: hsl(268, 71%, 12%);
      border-radius: 20px;
      
    
    }
  }
}

label{
  padding: 0 10px;
}

input[type='range']{
  width: 85px;
  height: 10px;
  padding-top: 10px;
}
input[type='range']::-webkit-slider-thumb{
  padding-top: 10px;
  width: 10px;
  height: 10px;
}
input[type='range']::-webkit-slider-runnable-track{
  height: 18px;
  background-color: hsl(268, 71%, 12%);
  border-radius: 2px;
}

input:checked {
  color: hsl(268, 47%, 21%);
}

.calculator-display{
  width: 600px;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
  .number-display{
  padding: 25px 50px;
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0, 100%);
  text-align: right;
  border-radius: 20px;
    .numdiv{
      color: hsl(0, 0, 100%);
      font-size: 80px;
      height: 100px;
    }
  }
}
.numpad{
  background-color: hsl(268, 71%, 12%);
  border-radius: 20px;
  padding: 10px 0;
  margin: 5px 0 0 0;
  
  .numpad-container{


   .row{
     list-style: none;
     text-align: center;
     display: block;
     padding: 0;
     li{
       display: inline;
       margin: 0 15px;
       button{
        width: 100px;
        height: 80px;
        text-align: center;
        margin: 5px 0px;
        border: none;
        border-radius: 20px;
        font-size: 30px;
        color: hsl(221, 14%, 31%);
        background-color: #eae3dc;
        box-shadow: 0 4px 0 0  hsl(28, 16%, 65%);
       }
       
     }
     #DEL{
          
          text-align: center;
          background-color: hsl(281, 89%, 26%);
          color: hsl(0, 0, 100%);
          box-shadow: 0 4px 0 0  hsl(268, 47%, 21%);
      }
     #RESET{
        width: 230px;
        height: 80px;
        background-color: hsl(281, 89%, 26%);
        color: hsl(0, 0, 100%);
        box-shadow: 0 4px 0 0  hsl(268, 47%, 21%);
     }
     #equal{
         width: 230px;
        height: 80px;
       background-color: hsl(176, 100%, 44%);
       color: hsl(0, 0, 100%);
       box-shadow: 0 4px 0 0   hsl(177, 51%, 57%);
     }
   }
  
  }
    
}






}